extends ../layouts/master

block video
  .video-wrapper
    .container
      .video-info
        h1=data.videoSelected.title
        span.views
          i.fa.fa-eye
          | 741
        a.likes-dislikes(href='javascript:void(0)')
          span.likes
            i.fa.fa-thumbs-up
            label.likevideo1717 48
      .videoWrapper.player    
        //iframe(width='1140', height='641', src='http://www.youtube.com/embed/vIu85WQTPRc', frameborder='0', allowfullscreen='allowfullscreen')
        video(id='video', class='video-js vjs-default-skin', controls, preload='none', poster=data.videoSelected._.imageCloudinary.scale(1140, 641))
          source(src=data.urlVideo, type='video/mp4')
          source(src=data.urlVideo,type='video/webm')
          source(src=data.urlVideo,type='video/ogg')
block content
  .row.video-options
    .col-xs-3
      a.option.comments-scrolling(href='javascript:void(0)')
        i.fa.fa-comments
        span.option-text Botones
    .col-xs-3
      a#off.option.share-button(href='javascript:void(0)')
        i.fa.fa-share
        span.option-text Para
    .col-xs-3
      a#buttonlike.option.likes-dislikes(href='javascript:void(0)', action='http://theme.marstheme.com/videotube/video/godzilla-official-main-trailer/like', video='1717')
        i.fa.fa-thumbs-up
        span.option-text.likes-dislikes
          label.likevideo1717 Los
    .col-xs-3
      //LIGHT SWITCH 
      a.option.switch-button(href='javascript:void(0)')
        i.fa.fa-lightbulb-o
        span.option-text Hashtags
  .video-details
    span.date
      | Publicado el #{data.videoSelected._.dateCreation.moment().lang('es').format('LL')} por 
      a(href='#')=data.username.nickname
    .post-entry
      p=data.videoSelected.description
    span.meta
      span.meta-info Categorias
    span.meta
      each item in data.tagsNames
        a(href='', rel='tag')=item.name

  block comments
    include ../includes/video-comments.jade
    
block sidebar
  include ../includes/video-sidebar.jade

